<div id="ai-assistant">
    <h4>
        <span class="k-icon-xxl k-icon k-svg-icon k-svg-i-sparkles">
            <svg width="40" height="40" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_112_219)">
                    <path d="M19 5.5L21.5453 11.9547L28 14.5L21.5453 17.0453L19 23.5L16.4547 17.0453L10 14.5L16.4547 11.9547L19 5.5ZM8.40625 20.4062L4 22L8.40625 23.5938L10 28L11.5938 23.5938L16 22L11.5938 20.4062L10 16L8.40625 20.4062ZM7.30937 7.30937L4 8.5L7.30469 9.69531L8.5 13L9.69531 9.69531L13 8.5L9.69531 7.30469L8.5 4L7.30469 7.30469L7.30937 7.30937Z" fill="url(#paint0_linear_112_219)" />
                </g>
                <defs>
                    <linearGradient id="paint0_linear_112_219" x1="4" y1="4" x2="31" y2="16" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#4B5FFA" />
                        <stop offset="1" stop-color="#C158E4" />
                    </linearGradient>
                    <clipPath id="clip0_112_219">
                        <rect width="24" height="24" fill="white" transform="translate(4 4)" />
                    </clipPath>
                </defs>
            </svg>
        </span>
        AI Coding Assistant
    </h4>
    <p>Boost your productivity with the built-in AI Coding Assistant. Get smart suggestions right where you code.</p>

    <a href="https://www.telerik.com/blazor-ui/documentation/ai/overview?from-project-template" target="_blank">Learn more</a>
</div>
